<h1>List of Artist</h1>
<ul>

    {%for Artist in data%}
        <li>id: {{Artist.id}}</li>
        <li>Stage name: {{Artist.Stage_name}}</li>
        <li>Social: {{Artist.Social_link_field}}</li>
        <li>Albums:</li>
        <ul>
            {% for Album in Artist.album_set.all %}
            <li>id: {{Album.id}}</li>
            <li>Name: {{Album.name}} </li>
            <li>Creation Time: {{Album.created}}</li>
            <li>Release datetime: {{Album.release_date}}</li>
            <li>Cost: {{Album.cost}}</li>
            {%endfor%}
        </ul>
        <br>
    {% endfor %}
</ul>
{% csrf_token %}
